body {
  background-color: #eeeeee;
  font-family: arial, sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header_box {
  background-color: #007777;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 0.25em;
  white-space: nowrap;
  border-color: #111111;
  border-style: solid;
  border-width: 1px;
}
.left_navigation {
  height: 100%;
  float: left;
  width: 150px;
  background-color: #007777;
  text-align: center;
  white-space: nowrap;
  border-color: #111111;
  border-style: solid;
  border-width: 1px;
}
.left_navigation a {
  font-size: 80%;
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding: 0.5em;
  margin: 0.2em;
  border-color: #005555;
  border-style: solid;
  border-width: 2px;
  background-color: #009999;
}
.left_navigation a:hover {
  color: #ff8800;
  background-color: #333333;
}
.left_navigation a:active {
  color: #aaaaaa;
}
.right_content {
  clear: right;
  background-color: #dddddd;
  text-align: left;
  margin-left: 152px;
  font-size: 0.8em;
  padding: 1em;
  color: #111111;
  border-color: #111111;
  border-style: solid;
  border-width: 1px;
}
.footer {
  text-align: center;
}
.footer img {
  border: 0em;
}
