doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Draw text with HTML5 Canvas
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .karaoke-player
      canvas#canvas
      video#video-player(controls='')
      audio#audio-player(controls='')
    script(src='js/app/karaoke_drawer.js')
    script(src='js/app/karaoke_player.js')
    script(src='js/app/audio_player.js')
    script(src='js/app/video_player.js')
    script(src='js/app/jwplayer_custom.js')
    script(src='js/app/app.js')